.label{
	border: 4px solid #6495ED;
	border-radius: 6px;
	margin-bottom: 20px;
	margin-right: 20px;
}

section{
	margin-top: 50px;
	margin-left: 250px;
	float:inherit;
	position:sticky;
	margin-right: 30px;
}

header{
	float:inherit;
	text-align: center;
	background-color: #151719;
    color: White;
    padding: 10px;
}

.link{
  background: #2db34a;
  border-radius: 6px;
  color: #fff;
  display: block;
  font: 14px/24px "Comic Sans MS";
  padding: 24px 15px;
  text-align: center;
}
