* {
  margin: 0px;
  padding: 0px;
}

#sidebar {
  z-index: 2;
  position: fixed;
  width: 203px;
  height: 100%;
  background: #151719;
  transition: all 500ms linear;
}

#sidebar ul li {
  color: rgba(230, 230, 230, .9);
  list-style: none;
  padding: 15px 10px;
  border-bottom: 1px solid rgba(100, 100, 100, .3);
  text-align: center;
}

.logo {
  margin-top: 10px;
  border-radius: 10%;
  display: block;
  margin: 0 auto;
}

.button{
  color:white;
}
